@import "../../styles.scss";

@media screen and (max-width: 376px){
    .container-acceuil{
        background-color: $marron;

        .image-top{
            width: 100%;
            height: 0 auto;
           
      
            .img-vitine-focus{
                width: 100%;
                height: 100%;
            }
        }  
        .textes{
            position: absolute;
           width: 100%;
           text-align: center;
           height: auto;
           top: 15%;
      
           .text-first{
               color: $beige;
               font-family: $poppins;
           }
      
           .text-two{
              color: $beige;
              margin-top: 125px;
              font-family: $poppins;
           }
      
           .btn-top-commande{
              margin-top: 155px;
               background-color: $marron;
               color: $beige;
               width: 200px;
               height: 40px;
               border-radius: 15px;
               border: none;
               font-size: 20px;
               font-family: $poppins;
           }
        }
    }
  

  /*..................sccs contenu...............*/
  .contain-all-menu{
      background-color: $marron;
     

      .notre-text-presentation{
          text-align: center;


          .h2-presentation{
            color: $beige;
            font-size: 40px;
            font-family: $roboto;
            margin-top: 25px;
  
        }
        .p-presentation{
            color: $beige;
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
      }
      .img1-contenu{
        width: 95%;
        height: 250px;    
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $marron;
       
  
        .img-contenu{
            width: 100%;
            height: 100%;
        }
        
    }
  
  
    .text-contenu{
        position: absolute;
        left: 25px;
        font-size: 25px;
        font-family: $poppins;
        color: $beige;
        text-shadow: 5px 5px  $marron ;
    }
  
  .contenu-menu{
      margin-bottom: 20px;
  }

  .btn-consulter{
      text-align: center;
      margin-top: 85px;
      margin-bottom: 55px;

      .btn-du-consulter{
          border: 1px solid $beige;
          background-color: $marron;
          color: $beige;
          border-radius: 15px;
          width: 250px;
          height: 35px;
          font-size: 20px;
      }
  }



  .h2-ou-somme-nous{
      text-align: center;
      color: $beige;
      font-family: $poppins;
  }
  .p-trouver-votre{
      text-align: center;
      color: $beige;
      font-size: 18px;
      font-family: $poppins;
  }
  
//.......................
  .barDe-recherche{
      height: 30px;
      overflow: hidden;
      text-align: center;
     margin-top: 25px;




      .input-recherche{
        width: 80%;
        height: 30px;
        text-align: center;
        font-size: 18px;
    } 
    .fa{
        height: 30px;
        width: 30px;
        padding: 7px;
        background-color: $beige;
        color: $marron;
       font-size: 18px;
       font-weight: bold;
    }

  
    
  }
  
  .text-emplacement{
   background-color: $blanc;
   height: 35px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;
   color: $marron;
   font-family: $poppins;
   
}

.les-adresses{
    background-color: $blanc;
    text-align: center;
    margin-bottom: -14px;


    .tittle-adresse{
        color: $marron;
        margin-bottom: 15px;
        font-family: $poppins;
        text-decoration: underline;
    }

    .rue{
        font-size: 25px;
        margin-bottom: 15px;
    }
}

.map{
    width: 100%;
    margin-top: 0px;
    
   
    iframe{
        width: 100%;
    }
    
}





  }
  


}