<div class="container-acceuil">

    <div class="img-top-text">

        <div class="textes">
        <div class="text-first">
        <h2>lorem ipsum dolor sit amet consectetur adipiscing elit</h2>
    </div>
    <div class="text-two"> <h2>lorem ipsum dolor sit amet consectetur adipiscing elit</h2> </div>

    <button class="btn-top-commande">Commander</button>

</div>

        <div class="image-top">  
    <img src="../../assets/presentation/vitrine mobile/vitrine_focus.png" alt="" class="img-vitine-focus">
</div>
    </div>
<!-- /*....................le contenu.....................*/ -->

<div class="contain-all-menu">

    <div class="notre-text-presentation">
    <h2 class="h2-presentation">Notre Menu</h2>
    <p class="p-presentation">Pour les goûts, Malvón. Choisissez vos favoris!</p>
    </div>



<div class="contenu-menu">

    <div class="text-contenu">
<h3>Poulet BBG</h3>
</div>

<div class="img1-contenu">
    <img src="../../assets/presentation/emp_boeuf_piquant.jpg" alt="" class="img-contenu">
</div>

</div>
<!-- .............2eme photo....... -->
<div class="contenu-menu">

    <div class="text-contenu">
<h3>Boeuf epice</h3>
</div>

<div class="img1-contenu">
    <img src="../../assets/presentation/emp_boeuf.jpg" alt="" class="img-contenu">
</div>

</div>
<!-- .............3eme photo....... -->
<div class="contenu-menu">

    <div class="text-contenu">
<h3>Carbonara</h3>
</div>

<div class="img1-contenu">
    <img src="../../assets/presentation/emp_carbonara.jpg" alt="" class="img-contenu">
</div>

</div>

<div class="btn-consulter">
    <button class="btn-du-consulter">Consulter la carte</button>
</div>

<div class="localisation">
    <h2 class="h2-ou-somme-nous">Où SOMMES-NOUS</h2>
    <p class="p-trouver-votre">Trouvez votre magasin le plus proche</p>


    <div class="barDe-recherche">
        <input type="text" name="text" placeholder="entrer votre adresse" class="input-recherche" >
      
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
<br>
<div class="text-emplacement">
<h3>Pres de chez vous : </h3>

</div>
<br>


<div class="les-adresses">
    <h2 class="tittle-adresse">Boutique à Paris</h2>

<p class="rue"> Allée Adrienne-Lecouvreur (75007)</p>
<p class="rue"> Allée Alexandre Vialatte (75013)</p>
<p class="rue"> Allée Alquier Debrousse (75020)</p>
<p class="rue"> Allée André-Breton (75001)</p>
<p class="rue"> Allée Anne-de-Beaujeu (75019)</p>
<p class="rue"> Allée Arthur-Honegger (75019)</p>
<p class="rue"> Allée Blaise-Cendrars (75001)</p>
<p class="rue"> Allée Célestin Hennion (75004)</p>

</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39002.842004043116!2d2.5357158544692693!3d48.89027224047802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sfr!2sfr!4v1622038042978!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<br>



</div>







</div>








</div>