<footer>
  <div class="img-container">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <section class="footer-menu">
    <ul>
      <h4>EMPANADAS</h4>
      <li>Menu</li>
      <li>COMMANDER</li>
    </ul>
    <ul>
      <h4>L'ENTREPRISE</h4>
      <li>Rejoignez-nous</li>
      <li>Franchise</li>
      <li>Newsletter</li>
    </ul>
    <ul>
      <h4>AIDE ET CONTACT</h4>
      <li>Où sommes-nous</li>
      <li>Contact</li>
    </ul>
  </section>
  <span>Trouve ta boutique</span>
  <section class="footer-reseaux">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </section>
  <hr>
  <p>Mentions légales | Politique de confidentialité | Cookies</p>
</footer>
